@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap);
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}

header.fixed {
    background-color: #ffffff;
    position: fixed;
    border-color: #eeeeee;
    animation: fixHeader .5s ease;
    z-index: 11;
}

@keyframes fixHeader {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(-0%);
    }
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .brand-name a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

header.fixed .brand-name a {
    color: #000000;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #fff;
    display: block;
    font-weight: 600;
    position: relative;
}

header .navbar ul li a::before {
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}

header.fixed .navbar ul li a::before {
    background-color: #febd01;
}

header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}

.home {
    min-height: 100vh;
    background-image: url(https://i.ibb.co/wJB4gZN/COVID-19-3cecad61-b39d-4511-95ba-3e740272f88a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
}

.home .full-screen {
    min-height: 100vh;
    
}
.home .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;
}

.home .home-content .block h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.home .home-content .block h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block .cv-btn {
    padding-top: 20px;
}

.home .home-content .block .cv-btn a {
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}

.home .home-content .block .cv-btn a:hover {
    background-color: #ffffff;
    color: #000000;
}

/*ABOUT ME*/
.about-me {
    padding: 100px 15px;
    background-color: #ffffff;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
}

.section-title h1:before {
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center!important;
}

.text-left {
    text-align: left!important;
}

.text-right {
    text-align: right!important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.about-me .section-title p.small {
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content .img {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about-me .about-content .img img {
    width: 100%;
    display: block;
}

.about-me .about-content .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}

.about-me .about-content .text h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000000;
}

.about-me .about-content .text h6 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #000000;
}

.about-me .about-content .text h6 span {
    color: #febd01;
}

.about-me .about-content .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px;
}

.about-me .about-content .text .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me .about-content .text .info .list {
    flex: 0 0 calc(50% - 15%);
    max-width: calc(50% - 15%);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

.about-me .about-content .text .info label {
    padding-right: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}

.about-me .about-content .text .info .list p {
    margin: 0;
}

.about-me .about-content .text .social-links {
    padding-top: 30px;
}

.about-me .about-content .text .social-links a {
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover {
    background-color: transparent;
}

.about-me .about-content .text .social-links a .fa {
    color: #ffffff;
    margin-top: 9px;
    font-size: 12px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover .fa {
    color: #000000;
}
/*END ABOUD ME*/

/*SERVICIO*/
.services {
    background-color: #f5f8fd;
    padding: 100px 15px 70px;
}

.services .section-title h1:before {
    left: 30%;
}

.services .service-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .service-content .box {
    background-color: #ffffff;
    padding: 30px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

.services .service-content .box::before {
    content: '';
    height: 2px;
    background-color: #febd01;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}

.services .service-content .box:hover::before {
    width: 100%;
}

.services .service-content .box .icon {
    height: 60px;
    width: 60px;
    background-color: #febd01;
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;
}

.services .service-content .box .icon .fa {
    font-size: 25px;
    color: #ffffff;
    line-height: 60px;
}

.services .service-content .box h5 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.services .service-content .box p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 10px;
}
/*END SERVICIO*/


/*PORTAFOLIO*/
.portfolio {
    background-color: #ffffff;
    padding: 100px 7px;
}

.portfolio .section-title h1:before {
    left: 30%;
}

.portfolio .filter-buttons {
    flex: 0 0 100%;
    max-width: 100%;
}

.portfolio .filter-buttons ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.portfolio .filter-buttons ul li {
    color: #000000;
    font-weight: ;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}

.portfolio .filter-buttons ul li.active {
    color: #febd01;
    border-bottom: 2px solid #febd01;
}

.portfolio .filter-buttons {
    margin-bottom: 25px;
}

.portfolio .portfolio-gallery {
    flex: 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.portfolio .portfolio-gallery .item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}

.portfolio .portfolio-gallery .item .inner {
    position: relative;
}

.portfolio .portfolio-gallery .item img {
    width: 100%;
    display: block;
}

.portfolio .portfolio-gallery .item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}

.portfolio .portfolio-gallery .item:hover .overlay {
    opacity: 1;
}

.portfolio .portfolio-gallery .item .overlay .fa {
    height: 50px;
    width: 50px;
    background-color: #febd01;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.portfolio .portfolio-gallery .item:hover .overlay .fa {
    -webkit-animation: galleryIcon .8s ease;
    animation: galleyIcon .8s ease;
}

@keyframes galleryIcon {
    0%{
        transform: translateY(-20%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.portfolio .portfolio-gallery .item .overlay h4 {
    margin-top: 15px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
}

.portfolio .portfolio-gallery .item:hover .overlay h4 {
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}

@keyframes galleryText {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/*END PORTAFOLIO*/


/*LIGHTBOX*/
.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.lightbox.show {
    display: flex;
}

.lightbox.hide {
    display: none;
}

.lightbox .close-lightbox {
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    color: red;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 101;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    display: block;
}
/*END LIGHTBOX*/


/*MENSAJE*/
.message-text {
    background-color: #0c0c17;
    padding: 40px 15px;
}

.message-text .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.message-text .text h2 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

.message-text .button {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: right;
}

.message-text .button a {
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}

.message-text .button a:hover {
    background-color: #ffffff;
    color: #000000;
}
/*END MENSAJE*/

/*FOOTER*/
footer {
    padding: 70px 15px;
    background-color: #0c0c17;
}

footer .logo {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-weight: 900;
}

footer .social {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}

footer .social a {
    color: #999999;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
    text-decoration: none;
}

footer .social a:hover {
    color: #ffffff;
}
/*END FOOTER*/

/*COPYRIGHT*/
.copyright {
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}

.copyright p {
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}
/*END COPYRIGHT*/





.ham-burger .fa {
    font-size: 20px;
    height: 30px;
    width: 35px;
    color: #b8b8b8;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: none;
}

@media(max-width: 991px){
    .home .home-content .block h1 {
        font-size: 50px;
    }
}

@media(max-width: 767px){
    .home .home-content .block h1 {
        font-size: 40px;
    }
    .home .home-content .block h3 {
        font-size: 25px;
    }
    header {
        padding: 13px;
        position: fixed;
        background-color: #ffffff;
        border: none;
        opacity: 0.9;
    }

    header .navbar ul li a {
        color: #000;
        font-weight: 400;
    }
    
    header .brand-name a {
        font-size: 20px;
        font-weight: 500;
        color: #000;
    }
    
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;
        display:none;
    }
    .navbar.show {
        display: block;
    }
    header .navbar ul li {
        display: block;
        margin-left: 0.2px;
    }
    header .navbar ul li a {
       line-height: 50px;
    }
    header .navbar ul li a::before {
        background-color: #343434;
        right: 100px;
        height: 1px;
    }
    .about-me .about-content .text {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0px;
        padding-top: 30px;
    }
    .about-me .about-content .img {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .services .service-content .box {
        background-color: #ffffff;
        padding: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .portfolio .portfolio-gallery .item {
        flex: 0 0 100%;
        max-width: 50%;
        position: relative;
        padding: 8px;
    }
    .message-text .text {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .message-text .button {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        padding-top: 20px;
    }
    
    .navbar ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
    
    .navbar ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: -3px;
        transform: translateX(0.2%);
    }
    
    .navbar ul li:nth-child(1) a {
        transition-delay: 0.2s;
    }
    
    .navbar ul li:nth-child(2) a {
        transition-delay: 0.3s;
    }
    
    .navbar ul li:nth-child(3) a {
        transition-delay: 0.4s;
    }
    
    .navbar ul li:nth-child(4) a {
        transition-delay: 0.5s;
    }
    
    .navbar ul li:not(:first-child) {
        margin-left: 0;
    }
    
    .navbar ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20%);
        transition: all 0.2s ease;
    }
    
    .nav-btn {
        position: fixed;
        right: 10px;
        top: 4px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }
    
    .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
    }
    
    .nav-btn i:nth-child(1) {
        margin-top: 16px;
    }
    
    .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }
    
    .nav-btn i:nth-child(3) {
        margin-top: 4px;
    }
}

@media(max-width: 500px){
    .home .home-content .block h1 {
        font-size: 40px;
    }
    .home .home-content .block h3 {
        font-size: 20px;
    }
    .home .home-content .block {
        padding-left: 30px;
    }
    .portfolio .portfoluo-gallery .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-me .about-content .text .info .list p {
        flex: 0 0 100%;
    }
}


#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .navbar {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .navbar ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}
